.section {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  padding: 0 40px;
  border: 1px solid #000;
}

.item--header-footer {
  margin-bottom: 0;
  border: 1px solid red;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 600px) {
  .section {
    padding: 0 20px;
  }
}
