.link a {
  width: 100%;
  text-decoration: none;
  color: var(--color-black-lighter);
}
.link button {
  width: 100%;
  justify-content: flex-start;
}
.link button:hover {
  background-color: transparent;
}
.link button span {
  width: 100%;
  text-align: left;
}
.link a {
  display: block;
  width: 100%;
  text-align: left;
}
/* .icon {
    width: 13px;
    height: 13px;
    opacity: .7;
    color: var(--color-black-lighter);
} */
