.item {
  --darkblue-violet: right bottom, #162454, #533389, #0a9ed8, #7a359f;
  --v2: right bottom, #e2e9b3, #533389, #0a9ed8, #162454;
  --blue-lightblue: 180deg, #5530ff, #66a6ff;
  --v4: 315deg, #42d392 25%, #647eff;
}

/***************************************************
THEME
/***************************************************/
.item--blue-lightblue {
  background: -webkit-linear-gradient(var(--blue-lightblue));
}
.item--darkblue-violet {
  background: -webkit-linear-gradient(var(--darkblue-violet));
}

/***************************************************
STYLES
/***************************************************/
.item {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
