.container {
  overflow: auto;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.containerPadding {
  padding: var(--spacing-section);
}
.containerShadow {
  box-shadow: var(--box-shadow);
  border-top: 1px solid var(--color-yellow-brown);
}
