.item--light {
  background-color: var(--color-gray-light);
}
.item--dark {
  background-color: var(--color-black-opacity-7);
  color: var(--color-gray-light);
}

.item {
  margin-right: 5px;
}
.item:last-child {
  margin-right: 0;
}
