.item--blue-underlined-thin {
  --color: var(--color-blue);
  font-family: var(--font-roboto-light);
  color: var(--color);
  background: linear-gradient(to bottom, var(--color) 50%, var(--color) 50%);
}

.item--dark-underlined {
  --color: var(--color-black-lighter);
  font-family: var(--font-roboto-regular);
  color: var(--color);
  background: linear-gradient(to bottom, var(--color) 50%, var(--color) 50%);
}

.item {
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 0.5px 0.5px;
}
