/***************************************************
SECTION
/***************************************************/
.section {
  max-width: 1200px;
  margin: auto;
}
.sectionPaddingY {
  padding-top: var(--spacing-blocks);
  padding-bottom: var(--spacing-blocks);
}
.sectionPaddingX {
  padding-left: var(--spacing-blocks);
  padding-right: var(--spacing-blocks);
}

/***************************************************
THEME
/***************************************************/
.item--header-footer {
  margin-bottom: 0;
}
