/***************************************************
THEME
/***************************************************/
.item--blue-underlined {
  --color: var(--color-violet-blue);
  color: var(--color);
  background: linear-gradient(to bottom, var(--color) 50%, var(--color) 50%);
}
.item--dark-underlined {
  --color: var(--color-black-lighter);
  color: var(--color);
  background: linear-gradient(to bottom, var(--color) 50%, var(--color) 50%);
}

/***************************************************
ITEM
/***************************************************/

/* Should be after Theme */
.item {
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  text-decoration: none;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 0.5px 0.5px;
}
