/***************************************************
TAGS
/***************************************************/
.h1 {
  font-size: 25px;
  text-align: left;
  margin-top: 0;
  margin-bottom: var(--spacing-headers);
}

.h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: var(--spacing-headers);
}

.h3 {
  font-size: 18px;
  text-align: left;
  margin-top: 0;
  margin-bottom: var(--spacing-headers);
}

.p {
  padding: var(--spacing-small) 0;
  margin: 0;
}

.comment {
  color: var(--color-gray-80);
}

/***************************************************
MAIN
/***************************************************/
.noSpacing {
  margin: 0;
}
