.h1 {
  font-size: 25px;
  margin: 0;
  text-align: left;
}

.h2 {
  display: flex;
  margin: 0;
  margin-bottom: var(--spacing-blocks);
  user-select: none;

  .item {
    padding: 2px 15px;
    font-size: 22px;
  }
}

.h3 {
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.p {
  padding: 6px 0;
  margin: 0;
}

/***************************************************
THEME
/***************************************************/
.h2 .item--dark-filled {
  border-radius: var(--border-radius-chip);
  background-color: var(--color-black-lighter);
  color: var(--color-white);
  font-size: 17px;
}

.h2 .item--light-outline {
  border: 1px solid var(--color-black-lighter);
  border-radius: var(--border-radius-chip);
  color: var(--color-black-lighter);
  font-size: 17px;
}
