.section {
  max-width: 1200px;
  margin: auto;
  margin-bottom: var(--spacing-blocks);
  padding: 0 40px;
}

.sectionTopSpacing {
  margin-top: var(--spacing-blocks);
}

.item--header-footer {
  margin-bottom: 0;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 600px) {
  .section {
    padding: 0 20px;
  }
}
