.item {
  color: var(--color-black-lighter);
  padding: 10px;
  border-radius: 5px;
  margin-top: var(--spacing-blocks);
}

/***************************************************
THEME
/***************************************************/
.item--info {
  border-left: 4px solid #4a91e4;
  color: #176ac9;
  background-color: #e7effc;
}
.item--success {
  border-left: 4px solid #63d259;
  color: #276122;
  background-color: #ebf4e9;
}
.item--warning {
  border-left: 4px solid #e3b65c;
  color: #8b6924;
  background-color: #f5f0e7;
}
.item--error {
  border-left: 4px solid #e68585;
  color: #ae4545;
  background-color: #faefef;
}

/***************************************************
MAIN
/***************************************************/
.noSpacing {
  margin: 0;
}
