.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gridItem {
  position: relative;
  padding: 10px;
  border-radius: var(--border-radius);
  /* background-image: var(--gradient-sea); */
  background-color: var(--color-white);

  .logo {
    display: block;
    width: 100%;
    height: 250px;
    border-radius: var(--border-radius);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--color-gray-10);
    transition: 1s;
  }
  .logo:hover {
    filter: grayscale(120%) opacity(70%);
  }
}

.gridContent {
  padding: 10px;
  padding-bottom: 5px;

  .header {
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
  }
  .description {
    margin-bottom: 6px;
    font-size: 14px;
    font-family: var(--font-roboto-light);
  }
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 1100px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/***************************************************
THEME
/***************************************************/
.item--light {
}
.item--dark {
}
