.item {
  display: inline-block;
  border-radius: var(--border-radius-chip);
  padding: 2px 12px;
  font-size: 14px;
  margin-right: 5px;
  background-color: var(--color-gray-10);
}
.item:last-child {
  margin-right: 0;
}

/***************************************************
THEME
/***************************************************/
.item--dark {
  background-color: var(--color-black-opacity-7);
  color: var(--color-gray-10);
}
