.item {
  width: 100%;
  margin-top: var(--spacing-blocks);
}

/***************************************************
MAIN
/***************************************************/
.noSpacing {
  margin: 0;
}
